<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Vulnerability Web App Demo | About</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>
    <body>
    <%- include('navbar') %>

    <div class="container-fluid">
        <div class="row justify-content-center">
            <article>
                <section class="mt-4">
                    <h1>SQL Injection</h1>
                    <p>
                        SQL Injection is included when user (who must be logged in) tries to search his messages.<br>
                        Enable SQL Injection (press the checkbox button) and write something like this: <i>' OR 1=1;--</i><br>
                        <br>
                        You should get all messages from all users!
                    </p>
                </section>
        
                <section>
                    <h1>CSRF (Cross Site Request Forgery)</h1>
                    <p>
                        This vulnerability is simulated within this web app.<br> 
                        Log in and try to change your password, but make sure you enable CSRF via checkbox.<br>
                        Once you press the <b>Change Password</b> button, csrf vulnerability will be simulated.<br>
                        <br>
                        Refresh your page and you will see that instead of your new password, new password for your user is <i>hackedPassword</i> !
                    </p>
                </section>
            </article>
        </div>
    </div>
    </body>
</html>
